body {
    background: #F5F7F9;
}

article {
    max-width: 1200px;
    margin: 3em auto;
    padding: 3em 4%;
    background: white;
}

table {
    width: 100%;
}

table th {
    font-weight: 500;
    background: #f1f1f1;
    padding: 0.25em;
}

table td {
    padding: 0.25em;
    border-bottom: 1px solid #e1e1e1;
    line-height: 1.25em;
}

pre {
    padding: 1.5em 2em;
}
