{{< layout }}

{{$ title }}{{ logs.title }}{{/ title }}

{{$ content }}
<h2>{{ logs.title }}</h2>
<p>
    <a href="https://manage.auth0.com/#/logs" target="_blank">Dashboard logs</a><br>
    <a href="https://auth0.com/docs/api/management/v2#!/Logs/get_logs" target="_blank">Logs docs</a>
</p>
<table>
    <thead>
        <th>Type</th>
        <th>Desc</th>
        <th>Date</th>
        <th>Client ID</th>
        <th>Telemetry</th>
        <th>Link</th>
    </thead>
    <tbody>
    {{# logs.results }}
        <tr>
            <td><code>{{ type }}</code></td>
            <td>{{ description }}</td>
            <td>{{ date }}</td>
            <td>{{ client_id }}</td>
            <td>{{ auth0_client }}</td>
            <td><a href="https://{{ logs.manage_domain }}/#/logs/{{ _id }}" target="_blank">Go&nbsp;👉</a></td>
        </tr>
    {{/ logs.results }}
    </tbody>
</table>
{{/ content }}

{{/ layout }}
